{% extends "admin/base_site.html" %}
<html lang="en">
{% load static %}

{% block extrastyle %}
{% comment %}
This special keyboard for entering some characters from the ISO 15919 transliteration standard for
Indic languages is a project at https://github.com/ShreyasKolpe/indic-character-input.
It was intended to develop a custom web component. For now the JS code is injected as is.
{% endcomment %}
<link rel="stylesheet" tyoe="text/css" href="{% static 'indic_text_input_style.css' %}">
{% endblock %}

<body>
    {% block branding %}
    <h1 id="app-name">{{ site_header|default:_('Data Cleaning Tool') }}</a></h1>
    {% endblock %}

    {% block content %}
    <indic-text-input></indic-text-input>
    <form method="post" action="#" style="display: block">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Go!">
    </form>
    <br/>
    {% if output_str %}
    <p>{{ output_str }}</p>
    {% endif %}
    {% if error_msg %}
    <p style='color: red'>{{ error_msg }}</p>
    {% endif %}
    <script src="{% static 'indic_text_input_component.js' %}"></script>
    {%  endblock %}
</body>
</html>