{% if inscription_text_header %}
    <em>{{ inscription_text_header|linebreaksbr }}</em>
    <br/>
    <br/>
{% endif %}

{% if inscription_text %}
{{ inscription_text|linenumbers|linebreaksbr }}
{% endif %}

{% if inscription_text_footnotes %}
    <br/>
    <br/>
    <em>{{ inscription_text_footnotes|linenumbers|linebreaksbr }}</em>
    <br/>
{% endif %}

<br/>
<br/>
<h5>Transliteration</h5>

{% if transliteration_header %}
    <em>{{ transliteration_header|linebreaksbr }}</em>
    <br/>
    <br/>
{% endif %}

{{ transliteration|linebreaksbr }}

{% if transliteration_footnotes %}
    <br/>
    <br/>
    <em>{{ transliteration_footnotes|linenumbers|linebreaksbr }}</em>
    <br/>
{% endif %}
<br/>

<br/>
<h5>Translation</h5>

{% if translation_header %}
    <em>{{ translation_header|linebreaksbr }}</em>
    <br/>
    <br/>
{% endif %}

{{ translation|linebreaksbr }}

{% if translation_footnotes %}
    <br/>
    <br/>
    <em>{{ translation_footnotes|linenumbers|linebreaksbr }}</em>
    <br/>
{% endif %}