<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epigraphia Carnatica Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Epigraphia Carnatica Inscriptions">
    <meta name="keywords" content="epigraphia, carnatica, history, inscriptions">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
           integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
           crossorigin=""/>
</head>
<body>

    <div class="container-fluid">
     <div class="row">
         <h3>Welcome to Epigraphia Carnatica Online</h3>
     </div>
     <div class="row">
         <div class="col-lg-6">
             <form action="/inscription/search" method="post">
                <select id="sourceTextSelector" name="sourceText" onchange="updateChapterSelection()" class="form-select">
                    {% for text in source_texts.data %}
                        <option value="{{text.id}}">{{ text.title }}, {{ text.series }} {{ text.volume }}</option>
                    {% endfor %}
                </select>
                <select id="sourceTextChapterSelector" name="sourceTextChapter" class="form-select">
                </select>
                <input class="btn btn-light" type="submit" value="Go!">
                {% csrf_token %}
            </form>
         </div>
         <div class="col-lg-6">
            <div id="map" style="height:600px"></div>
         </div>
     </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
         integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
         crossorigin=""></script>
    {{ all_locations|json_script:"locations_json" }}
    <script type="text/javascript">
        var map = L.map('map').setView([12.859, 76.489], 8)
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png',
                    {
                        maxZoom: 19,
                        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    }).addTo(map);
        const locations = JSON.parse(document.getElementById("locations_json").textContent)
        const location_data = locations.data
        location_data.forEach(function(value) {
            var marker = L.marker(value.coordinates).addTo(map)
            marker.bindPopup("<a href='/location/"+value.location_id+"'>"+value.location_name+"</a>")
        })
    </script>
    <script type="text/javascript">
        document.getElementById("sourceTextSelector").selectedIndex = -1;

        function updateChapterSelection() {
            const sourceTextElem = document.getElementById("sourceTextSelector")
            const sourceTextChapterElem = document.getElementById("sourceTextChapterSelector")
            var L = sourceTextChapterElem.options.length - 1;
                for(var i = L; i >= 0; i--) {
                     sourceTextChapterElem.remove(i);
            }
            if(sourceTextElem.selectedIndex != -1) {
                var value = sourceTextElem.options[sourceTextElem.selectedIndex].value
                var xhttp = new XMLHttpRequest();
                xhttp.open("post", "/api/v1/source_text_chapter/search", true)
                xhttp.responseType = "json"
                xhttp.onreadystatechange = function() {
                    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
                        response = xhttp.response
                        for(var i = 0; i < response.data.length; ++i) {
                            <!--console.log(response.data[i])-->
                            const option = document.createElement("option")
                            option.value = response.data[i].chapter_id
                            option.innerHTML = response.data[i].chapter_title
                            sourceTextChapterElem.appendChild(option)
                        }
                        sourceTextChapterElem.selectedIndex = -1
                    }
                }
                xhttp.send("{\"source_text\": {\"id\":" + value + " }}")
            }
        }
    </script>
</body>
</html>